/*
 * This file sets up the basic settings for the theme.
 * Some of the features of this theme are
 *  - Mobile first
 *  - Sans-serif fonts as default
 */

html {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: normal;
  font-size: 100%;
  line-height: 1.4rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.4em;
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

h2 {
  font-size: 1.5em;
  margin: .83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: .83em;
  margin: 1.67em 0;
}

h6 {
  font-size: .67em;
  margin: 2.33em 0;
}

/*
 * Settings for the navigation menu
 */
nav ul {
  list-style-type: none;
} 
