/*
 * branding.css
 * This stylesheets sets the styles for the branding section
 */


#block-such-the-theme-branding {
}

.site-branding {
  display: flex;
  align-items: center;
}

.site-branding-item {
  display: inline-block;
}

.site-branding__logo-link, .site-branding__text {
  margin: 0 .5em;
}

img.site-branding__logo-img {
  width: 10vw;
  display: inline-block;
}

.site-branding__text .site-branding-item {
  display: block;
}

.site-branding__name {
  font-size: 4rem;
  line-height: 125%;
}

.site-branding__slogan {
  font-size: 2rem;
  line-height: 125%;
}
