/*
 *  layout.css
 *  This file sets up the layouts for the website
 *  It is set up to be mobile first, and everything else follows
 */

.region {
  width: 100%;
  padding: .5em;
}


@media screen and (min-width: 480px) {
  .region {
    padding: .5em 2em;
  }
}

@media screen and (min-width: 960px) {
  .region-content {
    max-width: 960px; /* Because 960px is a good width to read from. Anything else gets weird. */
    margin: 0 auto;
  }

  main {
    display: flex;
  }
  .layout-sidebar-first {
    order: 1;
    max-width: 25%;
  }

  .layout-content {
    order: 2;
    flex-grow: 2;
  }

  .layout-sidebar-second {
    order:3;
    max-width: 25%;
  }

  .front-page .region-content {
    max-width: none;
    margin: 0;
  }

  .page {
    height: 100%;
  }

  .page-bottom-container {
    display: flex;
  }

  .page-bottom--element {
    flex-grow: 1;
  }

  footer {
  }

  footer .region {
    display: flex;
  }

}

@media screen and (min-width: 1200px ) {

}
