/*
 * Settings for the navigation menu
 */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li a {
  padding: .5em 1em;
  display: block;
}

@media screen and (min-width: 480px) {
  nav ul {
    display: flex;
  }
}
